<page-header class="bg-blue-600"></page-header>

<div class="row">
  <div class="col-md-12">
    <button class="pull-right" mat-raised-button color="primary" (click)="createNewUser()">
      {{newMemberButton}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<mat-form-field appearance="outline" class="d-block mb-2">
  <mat-select   placeholder="Filter Securities" (selectionChange)="filterSecurityList($event.value)">
    <mat-option value="GATESECURITY">
      GATESECURITY
    </mat-option>
    <mat-option value="PARKSECURITY">
      PARKSECURITY
    </mat-option>
  </mat-select>

</mat-form-field>
</div>
</div>
<mtx-grid [data]="source"
          [columns]="columns"
          [length]="total"
          [loading]="isLoading"
          [pageOnFront]="false"
          [pageIndex]="query.page"
          [pageSize]="query.per_page"
          [pageSizeOptions]="[5,10,20]"
          (page)="getNextPage($event)">

 </mtx-grid>
