<page-header class="bg-blue-600"></page-header>

<div class="row" *ngIf="false">
  <div class="col-md-12">

    <mat-label>Total Invited : 0 </mat-label>
    <mat-label>Pending Invitation : 0 </mat-label>

  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-4 col-xxxl-4">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xxxl-12">
        <mat-card>
          <mat-card-header color="accent">
            <mat-card-title>
             Event Entry
            </mat-card-title>
          </mat-card-header>
            <mat-card-content class="card-body" >
              <mat-selection-list [(ngModel)]="selectedEventIds"
              [multiple]="false"
              style="margin: 0;padding:0" class="custom-scroll-bar">
                <ng-container *ngFor="let item of assignModel.events">
                <mat-list-option (click)="getList()"
                [value]="item.id">
                  {{item.name}}
                </mat-list-option>
              </ng-container>
            </mat-selection-list>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xxxl-12">
        <mat-card>
          <mat-card-header color="accent">
            <mat-card-title>
             Search Guests
            </mat-card-title>
          </mat-card-header>
            <mat-card-content class="card-body" >
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6" >
                    <input matInput [(ngModel)]="userSearch" placeholder="Search"/>
                    <button  mat-button color="primary" class="pull-right" > Clear</button>
                  </div>
                </div>
                <mat-list>
                    <ng-container *ngFor="let item of assignModel.ticketPasses| userFilter:userSearch;index as i; "
                    [(ngModel)]="selectedUsers" ngDefaultControl>
                      <mat-list-item >
                      <div class="row">
                          <div class="col-md-4" >
                            {{item.name}} - {{item.phoneNumber}}
                          </div>
                          <div class="col-md-3" >
                            {{item.entryOTPTime}}
                          </div>
                          <div class="col-md-1" >
                            {{item.entryStatusName}}
                          </div>
                          <div class="col-md-3"  *ngIf="item.entryStatus == 1" >
                            {{item.entryOTP}}
                            <input matInput placeholder="Enter OTP" [(ngModel)]="item.enteredOTP" required
                            maxlength="4"  (keypress)="($event.charCode >= 48 && $event.charCode < 58)"/>
                          </div>
                          <div class="col-md-1" >
                            <button class="pull-right" *ngIf="item.entryStatus == 1" mat-raised-button color="primary" (click)="savePass(item,i)">
                              Accept
                            </button>
                            <span class="pull-right" *ngIf="item.entryStatus != 1">
                              OTP Validated
                            </span>
                          </div>
                        </div>
                    </mat-list-item>
                    <mat-divider ></mat-divider>
                  </ng-container>


                </mat-list>
                <div  *ngFor="let item of users | userFilter:userSearch"
                  [(ngModel)]="selectedUsers" ngDefaultControl   style="margin: 0;padding:0"
                  class="row custom-scroll-bar">

                </div>
            </div>

            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
