<page-header class="bg-blue-600"></page-header>

<div class="row">
  <div class="col-md-5 col-lg-5 col-xxxl-5">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xxxl-12">
        <mat-card>
          <mat-card-header color="accent">
            <mat-card-title>
             Events
            </mat-card-title>
          </mat-card-header>
            <mat-card-content class="card-body" >
              <mat-selection-list [(ngModel)]="selectedEventIds"
              [multiple]="false"
              style="margin: 0;padding:0" class="custom-scroll-bar">
                <ng-container *ngFor="let item of assignModel.events">
                <mat-list-option (click)="getList()"
                [value]="item.id">
                  {{item.name}} - Total Invite:{{item.eventMember.guestNo}} /Pending Invite:{{item.eventMember.pendingGuestNo}}
                  <br>- Total :{{item.eventMember.parkNo}} /Pending Parking:{{item.eventMember.pendingParkNo}}
                </mat-list-option>
              </ng-container>
            </mat-selection-list>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-lg-7 col-xxxl-7">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xxxl-12">
        <mat-card>
          <mat-card-header color="accent">
            <mat-card-title>
             Search Guests
            </mat-card-title>
          </mat-card-header>
            <mat-card-content class="card-body" >
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6" >
                    <input matInput [(ngModel)]="userSearch" placeholder="Search"/>
                    <button  mat-button color="primary" class="pull-right" > Clear</button>
                  </div>
                </div>
                <mat-list>
                    <ng-container *ngFor="let item of assignModel.ticketPasses| userFilter:userSearch"
                    [(ngModel)]="selectedUsers" ngDefaultControl>
                      <mat-list-item >
                      <div class="row">
                          <div class="col-md-7" >
                            {{item.name}} - {{item.phoneNumber}}
                          </div>
                          <div class="col-md-1" >
                            <mat-checkbox [(ngModel)]="item.isActive" [checked]="item.isActive"
                              name="{{i}}-name">
                              </mat-checkbox>
                          </div>
                          <div class="col-md-1" >
                            <mat-checkbox [(ngModel)]="item.isParkingAllowed" [checked]="item.isParkingAllowed"
                            name="{{i}}-name1">
                            </mat-checkbox>
                          </div>
                          <div class="col-md-2" >
                            <button class="pull-right" mat-raised-button color="primary" (click)="savePass(item)">
                              Save
                            </button>
                          </div>

                        </div>

                    </mat-list-item>
                    <mat-divider ></mat-divider>
                  </ng-container>


                </mat-list>
                <div  *ngFor="let item of users | userFilter:userSearch"
                  [(ngModel)]="selectedUsers" ngDefaultControl   style="margin: 0;padding:0"
                  class="row custom-scroll-bar">

                </div>
            </div>

            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
