@import '../../../assets/css/style.css';

.mat-mdc-button-base {
  margin: 4px;
}

::ng-deep .dashboardFormField .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 3px;
  padding-bottom: 3px;
}

::ng-deep .reading-label{
  font-size: 17px !important;
}

.reading-label{
  font-size: 17px !important;
}


::ng-deep .dashboardFormField .mat-mdc-form-field-infix {
  min-height: 20px;
}


::ng-deep .dashboardFormField .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 3px;
  padding-bottom: 3px;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target {
  position: absolute;
  top: 50%;
  height: 24px;
  left: 50%;
  width: 24px;
  transform: translate(-50%, -50%);
}

::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 48px;
  width: 25px;
  height: 25px;
  padding: 0px;
}

::ng-deep .dashboardFormField .mat-mdc-form-field-subscript-wrapper {
  height: 10px;
}


.dashboardPanelTitle{
  font-size: 14px;
  font-weight: bold;

}

.dashboardKPIContent{
  min-height: 70px;
  padding-top: 5px;
}

.dashboardKPIHedader{
  height: 40px;
  padding: 10px 10px;
  background-color: #3F51B5;
  color: white;
}

.dashboardKPILabel{
  text-align: left;
  font-size: 14px;
}

.dashboardKPIValue{
  text-align: right;
  font-size: 14px;
}

.dateInput{
  width: 100%;
}

.trendChart{
  max-height: 350px;
}


::ng-deep .dashboardFormField .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 0px !important;
}
::ng-deep .dashboardFormField .mdc-text-field--outlined {
  background-color: #fff !important;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  --mdc-outlined-text-field-outline-width: 0px !important;
  --mdc-outlined-text-field-focus-outline-width: 0px !important;
  --mdc-outlined-text-field-container-shape: 0px !important;
}

::ng-deep  .dashboardFormField .mdc-text-field--filled:not(.mdc-text-field--disabled){
  --mdc-filled-text-field-active-indicator-height:  0px !important;
  --mdc-filled-text-field-focus-active-indicator-height:  0px !important;
  --mdc-filled-text-field-container-shape:  0px !important;
  background-color: #fff !important;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::ng-deep .mat-mdc-list-base.inline-list {
  display: flex !important;
}

::ng-deep .mdc-list {
  padding: 0 !important;
}

::ng-deep .mdc-list-item.mdc-list-item--with-one-line{
  height:20px !important;
}



::ng-deep .p-4[_ngcontent-ng-c448906961]{
padding: 0!important;
}

::ng-deep .card-body[_ngcontent-ng-c448906961] {
  flex: 1 1 auto;
  padding: 0.15rem;
}


::ng-deep .card-body[_ngcontent-ng-c734480472]{
  padding: 0!important;
}

::ng-deep .card-body{
  padding: 0!important;
}

.card-body{
  padding: 0!important;
}

::ng-deep .p-4{
  padding: 0!important;
}

.p-4{
  padding: 0!important;
}

::ng-deep .card{
  margin-bottom: 5px !important;
}

.card{
  margin-bottom: 5px !important;
}


/*
 *	TICKET
 *	---------------------------------------------
 */

 .ticket-wrap {
	text-align: center;
}

.ticket {
	display: inline-block;
	margin: 0 auto;
	border: 2px solid #9facbc;
	font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	font-feature-settings: "kern" 1;
	background: #fff;
}

.ticket__header {
	margin: 0;
	padding: 1.5em;
	background: #f4f5f6;
}

.ticket__co span,
.ticket__route span {
	display: block;
}

.ticket__co {
	display: inline-block;
	position: relative;
	padding-left: 5em;
	line-height: 1;
	color: #5e7186;
}

.ticket__co-icon {
	position: absolute;
	top: 50%;
	margin-top: -2em;
	left: 0;
	width: 4em;
	height: auto;
}

.ticket__co-name {
	font-size: 2.5em;
	font-variation-settings: "wght" 500, "wdth" 75;
	letter-spacing: -.01em;
}

.ticket__co-subname {
	font-variation-settings: "wght" 700;
	color: #506072;
}

.ticket__body {
	padding: 2rem 1.25em 1.25em;
}

.ticket__route {
	font-variation-settings: "wght" 300;
	font-size: 2em;
	line-height: 1.1;
}

.ticket__description {
	margin-top: .5em;
	font-variation-settings: "wght" 350;
	font-size: 1.125em;
	color: #506072;
}

.ticket__timing {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	padding: 1rem 0;
	border-top: 2px solid #9facbc;
	border-bottom: 2px solid #9facbc;
	text-align: left;
}

.ticket__timing p {
	margin: 0 1rem 0 0;
	padding-right: 1rem;
	border-right: 2px solid #9facbc;
	line-height: 1;
}

.ticket__timing p:last-child {
	margin: 0;
	padding: 0;
	border-right: 0;
}

.ticket__small-label {
	display: block;
	margin-bottom: .5em;
	font-variation-settings: "wght" 300;
	font-size: .875em;
	color: #506072;
}

.ticket__detail {
	font-variation-settings: "wght" 700;
	font-size: 1.25em;
	color: #424f5e;
}

.ticket__admit {
	margin-top: 2rem;
	font-size: 2.5em;
	font-variation-settings: "wght" 700, "wdth" 85;
	line-height: 1;
	color: #657990;
}

.ticket__fine-print {
	margin-top: 1rem;
	font-variation-settings: "wdth" 75;
	color: #666;
}

.ticket__barcode {
	margin-top: 1.25em;
	width: 299px;
	max-width: 100%;
}

@media (min-width: 36em) {
	.ticket-wrap {
		margin-bottom: 4em;
		text-align: center;
	}

	.ticket {
		margin: 0 auto;
		transform: rotate(6deg);
	}

	.ticket__header {
		margin: 0;
		padding: 2em;
	}

	.ticket__body {
		padding: 3rem 2em 2em;
	}

	.ticket__detail {
		font-size: 1.75em;
	}

	.ticket__admit {
		margin-top: 2rem;
	}
}

@supports (display: grid) {
	@media (min-width: 72em) {
		.ticket-info,
		.ticket-wrap {
			align-self: center;
		}

		.ticket-wrap {
			order: 2;
			margin-bottom: 0;
		}

		.ticket-info {
			order: 1;
		}
	}
}


