<form [formGroup]="securityUserForm">

  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Mobile</mat-label>
    <input formControlName="phoneNumber" matInput placeholder="Mobile"
    maxlength="10"  minlength="10"  (keypress)="($event.charCode >= 48 && $event.charCode < 58)"/>
    <mat-error *ngIf="fieldHasError('phoneNumber')">
      {{ getErrorMessage("phoneNumber") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput placeholder="name" />
    <mat-error *ngIf="fieldHasError('name')">
      {{ getErrorMessage("name") }}
    </mat-error>
  </mat-form-field>

  <ng-container  *ngIf="userData.id > 0">
    <mat-form-field appearance="outline" class="d-block mb-2">
      <mat-label>Role</mat-label>
      <mat-select formControlName="roleIds" multiple="true">
        <mat-option *ngFor="let userRole of userData.userRoles" [value]="userRole.id">
          {{ userRole.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="fieldHasError('roleIds')">
        {{ getErrorMessage("roleIds") }}
      </mat-error>
    </mat-form-field>
  </ng-container>

</form>
