<mat-toolbar class="matero-toolbar">
  <button mat-icon-button *ngIf="showToggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <app-branding *ngIf="showBranding"></app-branding>

  <span class="flex-fill"></span>

  <button mat-icon-button style="visibility: hidden;display: none;">
    <mat-icon>search</mat-icon>
  </button>



  <app-notification class="hide-small"  style="visibility: hidden;display: none;"></app-notification>

  <app-translate  style="visibility: hidden;display: none;"></app-translate>

  <app-user></app-user>

  <button mat-icon-button class="hide-small" (click)="toggleSidenavNotice.emit()"
   style="visibility: hidden;display: none;">
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>
