<form [formGroup]="userForm">
  <mat-form-field appearance="outline" class="d-block mb-2" style="margin-top: 10px;">
    <mat-label>Username</mat-label>
    <input formControlName="username" matInput placeholder="Username" />
    <mat-error *ngIf="fieldHasError('username')">
      {{ getErrorMessage("username") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Email" />
    <mat-error *ngIf="fieldHasError('email')">
      {{ getErrorMessage("email") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>FirstName</mat-label>
    <input formControlName="firstName" matInput placeholder="FirstName" />
    <mat-error *ngIf="fieldHasError('firstName')">
      {{ getErrorMessage("firstName") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>LastName</mat-label>
    <input formControlName="lastName" matInput placeholder="LastName" />
    <mat-error *ngIf="fieldHasError('lastName')">
      {{ getErrorMessage("lastName") }}
    </mat-error>
  </mat-form-field>

  <ng-container  >
    <mat-form-field appearance="outline" class="d-block mb-2">
      <mat-label>Role</mat-label>
      <mat-select formControlName="roleId">
        <mat-option *ngFor="let userRole of userData.roles" [value]="userRole.id">
          {{ userRole.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="fieldHasError('roleId')">
        {{ getErrorMessage("roleId") }}
      </mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="userData.id">
    <mat-form-field appearance="outline" class="d-block mb-2">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        placeholder="Password"
        [type]="showPassword ? 'text' : 'password'"
      />
      <!-- SHOW AND HIDE PASSWORD -->
      <button
        color="accent"
        matSuffix
        mat-icon-button
        [attr.aria-label]="showPassword ? 'Hide' : 'Show'"
        (click)="showPassword = !showPassword"
        type="button"
      >
        <mat-icon>{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <!-- SHOW AND HIDE PASSWORD -->
      <mat-error *ngIf="fieldHasError('password')">
        {{ getErrorMessage("password") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="d-block mb-2">
      <mat-label>Password Repeat</mat-label>
      <input
        formControlName="passwordConfirm"
        matInput
        placeholder="Password Repeat"
        [type]="showPassword ? 'text' : 'password'"
      />
      <mat-error *ngIf="fieldHasError('passwordConfirm')">
        {{ getErrorMessage("passwordConfirm") }}
      </mat-error>
    </mat-form-field>

      <button class="pull-right" mat-raised-button color="primary" (click)="changePassword()">
        Change Passsword
      </button>
  </ng-container>
</form>
