<page-header class="bg-blue-600"></page-header>

<div class="row">
  <div class="col-md-12">

    <mat-label>Total Invited : 0 </mat-label>
    <mat-label>Pending Invitation : 0 </mat-label>

  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-4 col-xxxl-4">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xxxl-12">
        <mat-card>
          <mat-card-header color="accent">
            <mat-card-title>
             Parking Entry
            </mat-card-title>
          </mat-card-header>
            <mat-card-content class="card-body" >
              <mat-selection-list [(ngModel)]="selectedEventIds"
              [multiple]="false"
              style="margin: 0;padding:0" class="custom-scroll-bar">
                <ng-container *ngFor="let item of assignModel.events">
                <mat-list-option (click)="getList()"
                [value]="item.id">
                  {{item.name}}
                </mat-list-option>
              </ng-container>
            </mat-selection-list>
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xxxl-12">
        <mat-card>
          <mat-card-header color="accent">
            <mat-card-title>
             Search Guests
            </mat-card-title>
          </mat-card-header>
            <mat-card-content class="card-body" >
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6" >
                    <input matInput [(ngModel)]="userSearch" placeholder="Search"/>
                    <button  mat-button color="primary" class="pull-right" > Clear</button>
                  </div>
                </div>
                <mat-list>
                    <ng-container *ngFor="let item of assignModel.ticketPasses| userFilter:userSearch"
                    [(ngModel)]="selectedUsers" ngDefaultControl>
                      <mat-list-item >
                      <div class="row">
                          <div class="col-md-4" >
                            {{item.name}} - {{item.phoneNumber}}
                          </div>
                          <div class="col-md-1" >
                            {{item.entryOTP}}
                          </div>
                          <div class="col-md-3" >
                            {{item.parkingOTPTime}}
                          </div>
                          <div class="col-md-2" >
                            {{item.parkStatusName}}
                          </div>
                          <div class="col-md-2" >
                            <button class="pull-right" mat-raised-button color="primary" (click)="savePass(item)">
                              Accept
                            </button>
                          </div>
                        </div>
                    </mat-list-item>
                    <mat-divider ></mat-divider>
                  </ng-container>


                </mat-list>
                <div  *ngFor="let item of users | userFilter:userSearch"
                  [(ngModel)]="selectedUsers" ngDefaultControl   style="margin: 0;padding:0"
                  class="row custom-scroll-bar">

                </div>
            </div>

            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
